.list-item {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    text-decoration-color: black;
}

.important {
    color: red;
    font-weight: bold;
}